.box {
    width: 400px;
    height: 200px;
}
.name {
  font-size: 25px;
  color: blueviolet;
  font-weight: 800;
  margin-bottom: 15px;
}
.info {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}
