@import "bulma/css/bulma.css";

:root {
  padding: 50px 0px 100px 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d6d6d6b5;
  color: white;
  
}
.custom-container {
  max-width: 500px;
}
